spring:
  application:
    urls:
      frontend: "http://localhost:5000"
  devtools:
    livereload.enabled: true
    restart:
      enabled: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/quietspace
    username: ${DB_USER_USERNAME}
    password: ${DB_USER_PASSWORD}
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: update
    database: mysql
    open-in-view: true
    show-sql: true
  flyway:
    enabled: false
logging:
  #  file:
  #    name: quietspace.log
  level:
    root: INFO
    org.springframework.messaging: TRACE
    org.springframework.web.socket: TRACE
    org.hibernate.orm.jdbc.bind: ERROR
    dev.thural.quietspace.service: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.sql: ERROR
    org.springframework.web.servlet.handler.HandlerMappingIntrospector: ERROR
  logback:
    rollingpolicy:
      max-file-size: 2MB
      max-history: 3
server:
  port: 8080
